<div class="main-blur">
  <div class="logo">
    <a href="/" class="link">hey</a>
  </div>
  <div class="links">
    <a href="/components" class="link link1">Components</a>
    <a href="/graphics" class="link">Graphics</a>
    <a href="/resources" class="link">Resources</a>
    <a href="/solutions" class="link">Solutions</a>
  </div>
  <div class="controls">
    <div class="control">
      <div class="dark-light-mode">
        <div class="moon-sun"></div>
      </div>
    </div>
    <div class="control">
      <img src="../../assets/1x/settings4.webp" alt="" class="control-ico">
    </div>
    <div class="control">
      <img src="../../assets/1x/Ai Button 2.webp" alt="" class="control-ico">
    </div>
  </div>
  <div class="cta">
    <a href="/login" class="link">Login</a>
  </div>
</div>
<div class="main">
  <div class="logo">
    <a href="/" class="link">hey</a>
  </div>
  <div class="links">
    <a href="/components" class="link link1">Components</a>
    <a href="/graphics" class="link">Graphics</a>
    <a href="/resources" class="link">Resources</a>
    <a href="/solutions" class="link">Solutions</a>
  </div>
  <div class="controls">
    <div class="control">
      <div class="dark-light-mode">
        <div class="moon-sun"></div>
      </div>
    </div>
    <div class="control">
      <img src="../../assets/1x/settings4.webp" alt="" class="control-ico">
    </div>
    <div class="control">
      <img src="../../assets/1x/Ai Button 2.webp" alt="" class="control-ico">
    </div>
  </div>
  <div class="cta">
    <a href="/login" class="link">Login</a>
  </div>
</div>
